body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.small{
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  border-radius: 50%;
  line-height: 1;
  font-weight: 600;
}
.sepet{
display: flex;
justify-content: flex-end;
  
}
.sepet-box{
  width: 250px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  
}
